@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

html, body {
  min-height: 100dvh;
  overflow: hidden;
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.app, .app_modal, .app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.page-wrapper {
  padding: 20px 20px 20px 45px;
  flex-grow: 1;
  
  overflow-y: auto;
  flex-shrink: 100;
}

.ml-auto {
  margin-left: auto;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 3px solid var(--card-bg);
}