@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.app, .app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
}

.ml-auto {
  margin-left: auto;
}
