.Navbar {
  background-color: var(--inverted-bg-color);
  min-height: var(--navbar-height);

  ul {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding);
    gap: var(--navbar-gap);
  }
}

.ml-auto {
  margin-left: auto;
  margin-right: 0;
}