.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.loading {
  height: 300px;
}

.avatarWrapper {
  display: flex;
  width: 100px;
}

.editing {
  border: 2px solid var(--primary-color);
}